
/* ======= Header ======= */
// .header {
//     padding: 10px 0;
//     background: #f5f5f5;
//     border-top: 10px solid #778492;

//     &h1, h2, h3, h4, h5, h6 {
//         font-family: 'Montserrat', sans-serif;
//         font-weight: 700;
//         color: #778492;
//     }
//   }
  header {
    position: relative;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    // text-align: center;
    overflow: hidden;
    border-top: 10px solid #778492;
    background: #f5f5f559;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    background-color:#d8dce048;
    // padding: 76px 0;
    background-image: url(../../images/header_background.jpg);
    
  }

  // @media only screen and (min-width:780px) {
  //   header{
  //     -webkit-box-reflect: below 4px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
  //   }
  // }
  
  .header .btn {
    font-weight: bold;
  }
  
  .header .profile-image {
    margin: 0;
  }
  .header .profile-content {
    // height: 100%;
    // border-top-left-radius: 5rem;
    // border-top-right-radius: 0rem;
    background: rgba(100, 100, 100, 0.329);
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
  }
 
  .header .profile-content .name {
    color: #fff;
    font-size: 38px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
  }
  
  .header .profile-content .desc {
    color: rgb(158, 144, 144);
    font-size: 24px;
    font-weight: 600;
  }
  
  .social a {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header .profile-content .social a:hover {
    background: #778492;
  }
  
  .header .profile-content .social a .svg-inline--fa {
    font-size: 20px;
    margin-top: 8px;
  }
  
body[data-theme="dark"] .header {
  opacity: .95;
  color: rgba(255, 255, 255, 0.9);
  border-top-color: #1e2124;
}
body[data-theme="dark"] .header .profile-content{
  background: #2e3238a6;
}
body[data-theme="dark"] .header .profile-content .name {
  color: rgba(255, 255, 255, 0.9);
}

body[data-theme="dark"] .header .profile-content .desc {
  color: rgba(255, 255, 255, 0.7);
}

body[data-theme="dark"] .header .profile-content .social a {
  background: #2e3238;
  color: rgba(230, 230, 230, 0.7);
}

body[data-theme="dark"] .header .profile-content .social a:hover {
  color: rgba(255, 255, 255, 0.9);
}
