@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "../../_globalColor";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*React-headroom*/
.headroom-wrapper {
  max-height: 100px;
}

/* header */

.dark-menu {
  background-color: $darkBackground !important;
  color: $textColorDark;
}

.dark-menu li a {
  color: $textColorDark !important;
}

.dark-menu li a:hover {
  background-color: $buttonColor !important;
}

.header  {
  max-width: 100%;
  padding: 15px 20px;
  margin: 0px auto;
  &-hero {
    background-color: rgb(65,105,225);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: center;
      overflow: hidden;
    }
    li a {
      display: block;
      padding: 10px 15px;
      margin: 5px;
      color: $textColor;
      text-decoration: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  li a {
    display: block;
    padding: 15px 20px;
    color: $textColor;
    text-decoration: none;
  }
}

.grey-color {
  color: $subTitle;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $headerHoverBG;
}

.header .logo {
  display: block;
  flex: none;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

.header .logo-name {
  font-family: "Agustina Regular";
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 10px;
  color: #55198b;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $iconBackground;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon-dark {
  background: $textColorDark;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $iconBackground;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon-dark:before,
.header .menu-icon .navicon-dark:after {
  background: $textColorDark !important;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 486px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent !important;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 12px;
  }
}
.title-styles{
  //radical font
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 0 10px;
  color: azure;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
// /* ======= Header ======= */


  @media only screen and (min-width:780px) {
    header{
      -webkit-box-reflect: below 2px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
      z-index: -1;
    }
  }
  
  .header-hero .btn {
    font-weight: bold;
  }
  
  .header-hero .profile-image {
    margin: 0;
  }
  .header-hero .profile-content {
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 0rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color: #000;
  }

  /* Media Query */
@media (min-width: 1080px) {
  .header-hero .profile-content {
    padding: 2rem;
  }
}
 
//   .header .profile-content .name {
//     color: #fff;
//     font-size: 38px;
//     margin-bottom: 5px;
//     font-family: 'Roboto', sans-serif;
//   }
  
//   .header .profile-content .desc {
//     color: rgb(158, 144, 144);
//     font-size: 24px;
//     font-weight: 600;
//   }
  
  .social a {
    background: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: all .5s;
  }
  
  .social a:hover {
    opacity: 1;
  }
  
  .header .profile-content .social a .svg-inline--fa {
    font-size: 20px;
    margin-top: 8px;
  }

body[data-theme="dark"] .header {
  opacity: .95;
  color: white;
  border-top-color: #1e2124;
  background: #2e3238;
}
.styles_typicalWrapper__1_Uvh {
  //color: black !important;
}
body[data-theme="dark"] .profile-content{
  //background: #2e3238a6;
  color: white !important;
}
body[data-theme="dark"] .profile-content .name {
  color: white !important;
}

body[data-theme="dark"] .profile-content .desc {
  color: white !important;
}

body[data-theme="dark"] .profile-content .social a {
  background: #2e3238;
  color: black
}

body[data-theme="dark"] .profile-content .social a:hover {
  color: black
}
