.dark-mode-switch {
  margin-bottom: 1rem;

  .form-switch {
    display: -webkit-flex;
    display: flex;
    .form-check-input {
      border-radius: 1em !important;
      border-color: #dae3e7 !important;

      &:checked {
        background-color: #54ba4e !important;
        border-color: #54ba4e !important;
      }
      &:focus {
        box-shadow: none !important;
        border-color: #dae3e7 !important;
      }
    }
  }
  label {
    font-size: 0.875rem;
    font-weight: bold;
  }
}
.react-switch{
  position: fixed !important;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  opacity: 0.7;
}